@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500&subset=cyrillic');

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

p {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.table-header {
    font-family: 'Oswald', sans-serif !important;
    font-weight: 300 !important;
    font-size: 14px;
}


.bg-light-blue {
    background-color: #9fcdff;
}