<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="nested/import-css :: CSSIncludes"></th:block>
    <title>Форум "Всемирного Русского Народного Собора"</title>
</head>
<body class="bg-secondary">

<section class="container-fluid">
    <section class="container pt-2">
        <header class="row justify-content-center bg-light-blue rounded-top">
            <h5 class="p-2 mb-0">Таблица участников форума "Всемирного Русского Народного Собора"</h5>
        </header>
        <div class="row">
            <div class="col-md-12 p-0">
                <!-- Modal -->
                <div class="modal fade" id="linkToExcelFile" tabindex="-1" role="dialog"
                     aria-labelledby="linkToExcelFile" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Excel-файл успешно
                                    сгенерирован</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <ul th:each="convertedFile:${convertedFiles}">
                                    <li><a class="btn btn-light"
                                           th:href="@{'/generated-files/' + ${convertedFile.name}}"><i
                                            class="far fa-file-excel"></i> Скачать</a></li>
                                </ul>

                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-sm m-0 bg-transparent text-white">
                    <thead>
                    <tr>
                        <th class="table-header">ID</th>
                        <th class="table-header">Номер приглашения</th>
                        <th class="table-header">Фамилия</th>
                        <th class="table-header">Имя</th>
                        <th class="table-header">Отчество</th>
                        <th class="table-header">Контактный телефон</th>
                    </tr>
                    </thead>
                    <tbody style="font-size: 12px;">
                    <tr th:each="member : ${membersOfForumPage}">
                        <td th:utext="${member.id}"></td>
                        <td th:utext="${member.numberOfInvitation}"></td>
                        <td th:utext="${member.surname}"></td>
                        <td th:utext="${member.name}"></td>
                        <td th:utext="${member.patronymic}"></td>
                        <td th:utext="${member.phone}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-12 p-0">
                <nav aria-label="Постраничная навигация" class="pb-2">
                    <ul id="light-pagination" class="pagination"
                        th:attr='data-count=${membersOfForumPage.totalPages}, data-current=${membersOfForumPage.number}'>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-12 p-0 d-flex justify-content-end">
                <button type="button" class="btn btn-light" id="generate-excel-btn" data-toggle="modal"
                        data-target="#linkToExcelFile">Сгенерировать EXCEL файл
                </button>
            </div>
        </div>
    </section>
</section>

<th:block th:replace="nested/import-js :: JavaScriptIncludes"></th:block>
</body>
</html>