<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Форум "Всемирного Русского Народного Собора"</title>
</head>
<body>

<th:block th:fragment="CSSIncludes">
    <link rel="stylesheet" th:href="@{/fonts/fontawesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/simplePagination.css}">
    <link rel="stylesheet" th:href="@{/css/for-all.css}">
</th:block>

</body>
</html>